.light {
	background-color: #ededed;
}

.dark {
	background-color: #a3e1ec;
}

.button {
	box-sizing: border-box;
	cursor: pointer;
	height: 25px;
}

.button_big {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	width: 200px;
	padding-left: 7px;
	border-radius: 3px;
}

.button_medium {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 148px;
	height: 31px;
	border-radius: 3px;
}

.button_small {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	border-radius: 3px;
}
