.light {
	background-color: #ededed;
}

.dark {
	background-color: #a3e1ec;
}

.medium {
	width: 200px;
	height: 25px;
	display: grid;
	grid-template-columns: 30px 150px;
	border-radius: 3px;
	padding-left: 5px;
	box-sizing: border-box;
	cursor: pointer;
}

.small {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	padding-left: 5px;
	box-sizing: border-box;
	cursor: pointer;
}
