.light {
	background-color: #ededed;
}

.light:hover {
	background-color: #E3E3E3;
}

.light:active {
	background-color: #D8D8D8;
}

.dark {
	background-color: #a3e1ec;
}

.dark:hover {
	background-color: #9BD3DE;
}

.dark:active {
	background-color: #95ccd7;
}

.button {
	box-sizing: border-box;
	cursor: pointer;
	height: 25px;
	transition: background-color 0.15s ease-out;
}

.button-large {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 31px;
	width: 200px;
	border-radius: 3px;
}

.button-big {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	height: 31px;
	width: 200px;
	padding-left: 7px;
	border-radius: 3px;
}

.button-medium {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 31px;
	width: 100px;
	border-radius: 3px;
}

.button-small {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
	border-radius: 3px;
}

.selected {
	background-color: #84b2bb;
}
