.selectionButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 48px;
}

.light {
	background-color: #ededed;
}

.dark {
	background-color: #000000;
	opacity: 0.25;
}
