.selection-button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 48px;
}

.selection-button:not(:first-child) {
	border-left: 2px solid rgb(0 0 0 / 25%);
}

.light {
	background-color: #ededed;
}

.dark {
	background-color: #000000;
	opacity: 0.25;
}
