.selection-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 45px;
}

.selection-button_light {
	background-color: #ededed;
}

.selection-button_dark {
	background-color: #000000;
	opacity: 0.25;
}
