.popup {
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.colorBlock {
    width: 100%;
    height: 50px;
    margin-block: 10px;
    border: #006a82 3px solid;
    border-radius: 5px;
}

