.selection {
	position: absolute;
	border: #8ab4f89a solid;
}

.corner {
	height: 5px;
	width: 5px;
	background: #8ab4f8;
	border: #ffffff solid 2px;
}

.draggable-space {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
