.char {
	border-left: 0;
	border-top: 0;
	border-right: 0;
}

.text {
	box-sizing: border-box;
	display: flex;
	align-items: baseline;
	height: auto;
	width: 100%;
	user-select: none;
	position: absolute;
	flex-wrap: wrap;
	resize: none;
	min-height: 100%;
	border: none;
	background: none;
}
