.timelineContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 67px;
	width: 630px;
	background: #ededed;
	border-radius: 3px;
}

.timelineLine {
	display: flex;
	align-items: center;
	height: 3px;
	width: 500px;
	background: #006a82;
}

.timelineLineDot {
	display: flex;
	align-items: center;
	width: 40px;
	margin-top: 25px;
	flex-direction: column;
	position: relative;
}

.timelineLineDotText {
	color: #006a82;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: normal;
	text-align: center;
}

.timelineLineDotCircle {
	cursor: pointer;
	height: 16px;
	width: 16px;
	background-color: #006a82;
	border-radius: 50%;
}
