.add-slide {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: #a3e1ec;
	border-radius: 10px;
	padding-block: 5px;
	margin-block: 10px;
}
