.add-bar {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-auto-flow: column;
	grid-template-columns: 210px 210px 210px;
	grid-template-rows: 36px 36px 36px;
}

.image-path-input {
	box-sizing: border-box;
	height: 31px;
	width: 200px;
	padding-left: 7px;
	background-color: #ededed;
	border-radius: 3px;
}

.color-picker {
	position: absolute !important;
	z-index: 1;
}
