.editBar {
	display: flex;
	align-items: center;
	gap: 8px;
}

.bigContainer {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.mediumContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.buttonVerticalContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.buttonHorizontalContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.selectionWrapper {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
