.edit-bar {
	display: flex;
	align-items: center;
	gap: 8px;
}

.big-container {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.medium-container {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.button-vertical-container {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.color-picker {
	position: absolute !important;
	z-index: 1;
}

.button-horizontal-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.selection-wrapper {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
