.dot {
	display: flex;
	align-items: center;
	width: 40px;
	margin-top: 25px;
	flex-direction: column;
	position: relative;
}

.dot-circle {
	cursor: pointer;
	height: 10px;
	width: 10px;
	background-color: #006a82;
	border-radius: 50%;
}

.dot-circle-chosen {
	cursor: pointer;
	height: 13px;
	width: 13px;
	background-color: #006a82;
	border-radius: 50%;
}
