.inputField {
	display: flex;
}

.inputFieldLarge {
	height: 37px;
	width: 148px;
}

.inputFieldMedium {
	height: 31px;
	width: 304px;
}

.inputFieldSmall {
	height: 31px;
	width: 220px;
}

.inputLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #ededed;
	border-radius: 3px 0 0 3px;
}

.inputLabelLarge {
	width: 25%;
}

.inputLabelMedium {
	justify-content: flex-end;
	width: 47.5%;
	padding-right: 8px;
}

.inputLabelSmall {
	justify-content: flex-end;
	width: 45%;
	padding-right: 8px;
}

.inputValue {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5px;
	padding: 0 15px 0 0;
	background: #a3e1ec;
	border-radius: 0 3px 3px 0;
}

.inputValueSmall {
	width: 55%;
}

.inputValueMedium {
	width: 50%;
}

.inputValueLarge {
	width: 75%;
}

.input {
	box-sizing: border-box;
	height: 100%;
	width: 70%;
	padding: 0;
	background: none;
	border: none;
	color: #006a82;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	font-family: Montserrat, sans-serif;
	line-height: normal;
	outline: none;
	text-align: end;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
