.top-bar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 45px;
	width: 100vw;
	padding-right: 31px;
	padding-bottom: 0;
	padding-left: 31px;
	background-color: #a3e1ec;
}

.logo {
	font-size: 40px;
}

.presentation-name {
	box-sizing: border-box;
	display: flex;
	align-items: baseline;
	height: 100%;
	width: 50%;
	background: none;
	border: none;
	color: #006a82;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	font-family: Montserrat, sans-serif;
	line-height: normal;
	text-align: end;
	user-select: none;
	flex-wrap: wrap;
	resize: none;
	min-height: 100%;
	white-space: normal;
	vertical-align: middle;
	text-overflow: ellipsis;
}

.run {
	cursor: pointer;
	padding: 5px;
	margin-left: 10px;
	background-color: #90c9d3;
	border-radius: 999px;
}

.left-group {
	display: flex;
	justify-content: center;
	align-items: center;
}
