.TopBar {
	width: 100vw;
	height: 45px;
	background-color: #a3e1ec;
	display: flex;
	justify-content: space-between;
	padding-left: 31px;
	padding-right: 31px;
	padding-bottom: 0px;
	box-sizing: border-box;
	align-items: end;
}
