.top-bar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 45px;
	width: 100vw;
	padding-right: 31px;
	padding-bottom: 0;
	padding-left: 31px;
	background-color: #a3e1ec;
}

.logo {
	font-size: 40px;
}

.presentation-name {
	width: 50%;
	font-size: 30px;
	text-align: end;
}
