.slideList {
	box-sizing: border-box;
	display: flex;
	align-items: end;
	height: calc(100vh - 205px);
	padding-right: 20px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	flex-direction: column;
	overflow-y: scroll;
}

/* W3C standard
   сейчас только для Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: blue orange;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
	height: 12px;
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: rgb(0 0 0 / 0%);
}

*::-webkit-scrollbar-thumb {
	background-color: #006a82;
	border: 3px solid #006a82;
	border-radius: 5px;
}

.small-slide {
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
	margin-block: 10px;
}

.small-slide_chosen {
	margin-block: 20px;
	border-radius: 15px;
	border-width: 5px;
	border-color: #a3e1ec;
	border-style: solid;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 19%);
}
