.slideList {
	box-sizing: border-box;
	display: flex;
	align-items: end;
	height: calc(100vh - 205px);
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	flex-direction: column;
	overflow-y: scroll;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.slideList::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.smallSlide {
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
	margin-block: 10px;
}

.smallSlideChosen {
	margin-block: 20px;
	cursor: pointer;
	position: relative;
	border-radius: 15px;
	border-width: 5px;
	border-color: #a3e1ec;
	border-style: solid;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 19%);
}
